# Sistema operacional
.DS_Store
Thumbs.db

# Visual Studio Code
.vscode/

# Node
node_modules/
npm-debug.log*

# Python virtual envs
env/
venv/
__pycache__/
*.pyc

# Logs
*.log

# Imagens/arquivos grandes gerados acidentalmente
*.zip
*.tar.gz

# Outros
.DS_Store
*.swp

# Se você usar o GitHub Pages com Actions, ignore secrets locais
.env
